/* movil */
@media only screen and (max-width: 498px) {
    .productos-list li a img{
        height: 100px
    }
    
}

/* tablet */
@media only screen and (max-width: 960px) {
    .productos-list li a img{
        height: 150px
    }
    .nav-compra{
        font-size: smaller;
    }
    .nav-compra aside{
        margin: 30px;
    }
}